@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-ExtraLight.eot');
  src: local('Circe ExtraLight'), local('../fonts/Circe-ExtraLight'),
    url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot');
  src: local('Circe Light'), local('../fonts/Circe-Light'),
    url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:inherit;
}

body{
  background: #151717;
  color: #fff;
  font-family: 'Circe';
  font-size: 20px;
  line-height: 166.5%;
  font-weight: 300;
}

.container{
  max-width: 1300px;
  padding: 0 24px;
  margin: 0 auto;
}

header{
  padding: 40px 0;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

main{
  background: url(../img/main-bg.jpg) center center/cover no-repeat;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
  background-attachment: fixed;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  line-height: 91.8%;
  letter-spacing: 0.035em;
  margin-bottom: 24px;
  position: relative;
  background: transparent;
  background: #C89269;
}

.btn:hover:before {
  right: 50%;
}

.btn:hover:after {
  left: 50%;
}


.btn:before {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
  background: #b9855d;
  transition: all .3s ease-in-out;
}

.btn:after {
  content: '';
  position: absolute;
  left: 100%;
  right: 0%;
  top: 0;
  bottom: 0;
  background: #b9855d;
  transition: all .3s ease-in-out;
}

.text-center{
  text-align: center;
}


.btn:hover {
  /*color: #C89269;*/
}

.btn span{
  position: relative;
  z-index: 2;
}

main h1{
  font-size: 80px;
  line-height: 91.8%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 24px;
  font-weight: 200;
}

main h3{
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.01em;
  opacity: 0.8;
  margin-bottom: 56px;
}

.header-right{
  display: flex;
  align-items: center;
  color: rgb(255 255 255 / 80%);
  font-size: 16px;
  line-height: 18px;
  gap: 24px;
}

.nav{
  display: flex;
  justify-content: space-between;
  gap: 64px;
  font-size: 17px;
  line-height: 25px;
  color: rgb(255 255 255 / 80%);
}

.main-images{
  display: flex;
  align-items:flex-end;
  justify-content:space-between;
}

.main-images img:nth-child(1){
  transform: translateY(150px);  
}

.main-images img:nth-child(2){

  transform: translateY(200px);
}

.main-images img:nth-child(3){

  transform: translateY(250px);
}

.main-images img:nth-child(4){

  transform: translateY(300px);
}

.arrow {
  cursor: pointer;
}

.arrow img{
  transform: translateX(0);
  transition: all .3s ease-in-out;
}

.arrow:hover img{
  transform: translateX(10px);
}

.main-images img {
  opacity: 0;
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

body .main-images.anim img {
  opacity: 1;
  transform: translateY(0);
}

.line-link{
  color: #C89269;
  letter-spacing: 0.035em;
  font-size: 20px;
  line-height: 91.8%;
  display: inline-block;
  text-align: center;
}

.insta-contacts a{
  display: flex;
  gap: 8px;
  align-items: center;
}

#whatsapp{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.line-link img{
  margin-top: 12px;
}

section.portfolio{
  padding:100px 0;
  background: url(../img/portf-bg.svg) top left no-repeat;
}

.portf-top,
.about-top,
.contacts .container {
  display: flex;
  align-items:center;
}

section.all-portf {
  padding-top: 200px;
  background: none;
}

.breadcrumbs {
  margin-top: 150px;
  z-index: 9;
  position: relative;
}

.images-portf .container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 24px;
  align-items: center;
}

.main-prev{
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 48px;
  background-attachment: fixed;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  background-attachment:fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.main-prev .bottom{
  margin-top: auto;
  letter-spacing: 0.01em;
  font-size: 18px;
  font-weight: 200;
}

.main-prev .top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}


.main-prev h1{
  font-size: 80px;
  line-height: 91.8%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.main-prev p{
  max-width: 700px;
  margin: 32px auto;
}

.breadcrumbs ul{
  display: flex;
  gap: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.breadcrumbs ul p{
  opacity: 0.5;
}

section.all-portf .portf-top{
  display: block;
  text-align: center;
}

.portf-top,
.about-top{
  margin-bottom: 135px;
}


.portf-top .right, .portf-top h1 ,
.about-top .right, .about-top .left ,
.contacts .right, .contacts .left {
  flex: 0 0 50%;
}

.about-top .right{
  display: flex;
  justify-content: flex-end;
}

.portf-top h1 span,
.about-top h1 span ,
.contacts h1 span{
  display: block;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  opacity: 0.4;
  margin-bottom: 8px;
}

.portf-top h1,
.about-top h1,
.contacts h1 {
  letter-spacing: 0.035em;
  font-size: 70px;
  line-height: 91.8%;
  font-weight: 200;
}

.about-top p{
  letter-spacing: 0.005em;
  color: #D6D6D6;
}

.about-top h1:after,
.contacts h1:after{
  display: block;
  height: 1px;
  background: #C89269;
  content: '';
  width: 100px;
  margin: 40px 0;
}

:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.portf-top .right {
  color: #D6D6D6;
}

.portf-top .right p {
  margin-bottom: 24px;
}

img{
  max-width: 100%;
  display: block;
}

.portfolio ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.portfolio ul li{
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.portfolio li:hover .portf-content{
  top: 50%;
}

.portf-content{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  background: rgb(25 25 25 / 96%);
  padding: 55px;
  transition: all .3s ease-in-out;
}

.portf-content h3{
  font-size: 50px;
  line-height: 112.3%;
  letter-spacing: 0.15em;
  margin-bottom: 32px;
  font-weight: 200;
}

.portf-content p{
  color: #D6D6D6;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 175%;
  margin-bottom: 32px;
}


.about{
  overflow: hidden;
  background: url(../img/about-bg.svg) left bottom no-repeat;
  padding-top: 80px;
}

section.why-we {
  text-align: center;
  padding: 100px 0 60px;
}

section.why-we h1 {
  font-size: 70px;
  line-height: 91.8%;
  letter-spacing: 0.035em;
  font-weight: 200;
  margin-bottom: 120px;
}

.why-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex: 0 0 50%;
  margin-bottom: 64px;
}

.box p {
  font-size: 15px;
  line-height: 24px;
  max-width: 430px;
  margin: 16px auto 0;
}

.why-boxes span {
  display: inline-flex;
  border: 1px solid #C89269;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 24px;
  font-size: 30px;
  color: #C89269;
  font-weight: 200;
  letter-spacing: 0.035em;
  line-height: 91.8%;
}

.why-boxes h2 {
  font-size: 24px;
  line-height: 32px;
}


.portfolio ul li .simpleParallax img {
  transition: all 0.35s ease-in-out 0s;
}

.portfolio ul li:hover .simpleParallax img {
  transform: scale(1.1)!important;
}



section.services ul {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

section.services li.open-modal:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #646464;
  content: '';
  z-index: 1;
  transition: all .3s ease-in-out;
}

section.services li.open-modal:hover:before {
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 10px;
  border-color: #ccc;
}

section.services li.open-modal:hover{
  box-shadow: 0 0 4px #000;
}

section.services li.grid-box{
  grid-column: 2 / span 2;
  background: #151717;
  border: 1px solid #646464;
  padding: 48px;
}

.grid-box h2{
  letter-spacing: 0.005em;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 139.9%;
  margin-bottom: 30px;
}

section.services li {
  position: relative;
  height: 444px;
  min-width: 352px;
  /*border: 1px solid #646464;*/
  overflow:hidden;
}

section.services li img{
  transform: scale(1);
  transition: all 0.35s ease-in-out 0s;
}

.contacts p {color: #D6D6D6;}

.contacts a {color: #D6D6D6;}

section.services li:hover > img{
  transform: scale(1.1);
}

section.services li .content{
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 32px;
  padding-top: 48px;
  display: flex;
  flex-direction: column;
}

section.services li .content .price{
  margin-top: auto;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

section.services li .content h2{
  text-transform: uppercase;
  letter-spacing: 0.005em;
  font-size: 30px;
  line-height: 139.9%;
  margin-bottom: 24px;
}

section.services li .content p{
  letter-spacing: 0.005em;
  color: #D6D6D6;
  margin-bottom: 24px;
  font-weight: 200;
  font-size: 19px;
}

section.services li .content button{
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 15px;
  color: #C89269;
  background: transparent;
  border: none;
  display: inline-flex;
  cursor: pointer;
  outline: none;
}

#cursor {
  pointer-events: none;
}
#cursor .cursor-circle {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
#cursor .cursor-circle circle {
  stroke: #C89269;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  background: rgb(0 0 0 / 60%);
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 90vh;
  background: #302F2E;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  /*padding: 1rem;*/
}

.modal-header,
.modal-footer {
  /*background: var(--lightgray);*/
}

.modal-header {
  text-align: center;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

section.modal-content{
  padding: 24px 48px 40px;
}

/*.modal-top .right {display: flex;flex-direction: column;}*/

.modal-top .right h4 {margin-top: auto;}

.modal .btn{
  margin-bottom: 40px;
}

.modal-header .close-modal {
  border: none;
  background: none;
  color: #fff;
  font-size: 21px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 48px;
  top: 3px;
  font-weight: normal;
}

.modal-header {
  font-size: 32px;
  line-height: 139.9%;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  position: relative;
}

.modal-dialog {
  /*max-width: 900px;*/
  /*width: 100%;*/
}

.modal-dialog {
  padding: 48px 0 0;
}

.modal-top .right p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.modal-top .right p span {
  opacity: 0.6;
  letter-spacing: 0.02em;
  font-size: 18px;
}

.open-modal{
  cursor: pointer;
}

.modal-top .right h4 {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.modal-content {
  font-size: 20px;
  line-height: 166.5%;
  letter-spacing: 0.005em;
  color: #D6D6D6
}

.modal-top{
  display: flex;
  align-items: center;
}

.rr-title{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 139.9%;
  margin-bottom: 16px;
  color: #fff;
  display: block;
}

.modal-top .left{
  border-right: 1px solid #C89269;
  margin-right: -1px;
  flex: 0 0 50%;
  padding-right: 18px;
}

.modal-top .right{
  flex: 0 0 50%;
  padding-left: 60px;
  border-left: 1px solid #C89269;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.d-flex div {
  flex: 1 1 auto;
  text-align: center;
}

.d-flex div img {
  margin: 0 auto 24px;
}

.d-flex + .d-flex {
  margin-top: 56px;
}

.mob-nav{
  position: relative;
  display: none;
  width: 24px;
  height: 24px;
  cursor:pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.mob-nav span{
display: block;
  position: absolute;
  height: 1px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mob-nav span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.mob-nav span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.mob-nav span:nth-child(3), .mob-nav span:nth-child(4) {
  top: 12px;
}

.mob-nav span:nth-child(5), .mob-nav span:nth-child(6){
  top: 24px;
}

.mob-nav.opened span:nth-child(1),.mob-nav.opened span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mob-nav.opened span:nth-child(2),.mob-nav.opened span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mob-nav.opened span:nth-child(1) {
  left: 1px;
  top: 7px;
}

.mob-nav.opened span:nth-child(2) {
  left: calc(50% - 2px);
  top: 7px;
}

.mob-nav.opened span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.mob-nav.opened span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.mob-nav.opened span:nth-child(5) {
  left: 1px;
  top: 16px;
}

.mob-nav.opened span:nth-child(6) {
  left: calc(50% - 2px);
  top: 16px;
}

.services{
  background: #2B2B2A;
  padding: 120px 0;
  text-align: center;
}

.services h1{
  text-align: center;
  letter-spacing: 0.035em;
  font-size: 70px;
  line-height: 91.8%;
  font-weight: 200;
  margin-bottom: 120px;
}

.services h1 span{
  letter-spacing: 0.23em;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 15px;
  line-height: 175%;
  display: block;
}

.contacts{
  background: url(../img/contacts-bg.png) center center/cover no-repeat;
  padding: 180px 0;
}


@media (max-width: 800px){

  #whatsapp{
    width: 40px;
    height: 40px
  }
  .main-prev h1{
    font-size: 30px
  }
  section.all-portf{
    margin-top: 100px;
  }
  .modal-header .close-modal {right: 0;top: -20px;}

  div#modal6 br + br {display: none;}
  main{
    background: url(../img/main-mob.jpg) center center/cover no-repeat;
  }
  .modal-footer {height: 200px;position: relative;}

  .modal-footer img {object-fit: cover;height: 100%;}
  .why-boxes {display: block;}
  ul.nav {
    display: none;
  }
  .rr-title{
    font-size: 18px
  }
  #cursor{
    display: none
  }

  .mob-nav {
    display: block;
  }

  a.logo {
    width: 45px;
  }

  .container {
    padding: 0 16px;
  }

  main h1 {
    font-size: 36px;
    letter-spacing: 0.06em;
    font-weight: 300;
  }

  .main-images {
    display: none;
  }

  .portf-top, .about-top, .contacts .container {
    display: block;
  }

  section.services ul {
    display: block;
  }

  section.services ul li {
    display: flex;
    flex-direction: column;
    /*height:auto;*/
    margin-bottom:24px
  }

  .portfolio ul {
    display: block;
  }


  .header-right a:last-child {
    display: none;
  }

  section.portfolio {
    padding: 35px 0;
    background: transparent;
  }

  main h3{
    letter-spacing: 0.01em;
    font-size: 18px;
  }

  .portf-top h1, .about-top h1, .contacts h1 {
    font-size: 37px;
    margin-bottom: 32px;
    letter-spacing: 0.1em;
  }

  .portf-top h1 span, .about-top h1 span, .contacts h1 span {
    font-size: 13px;
    letter-spacing: 0.195em;
  }

  body {
    font-size: 18px;
  }

  .portf-content {
    background: rgb(48 45 44 / 96%);
  }

  .portf-content h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .portfolio ul li {
    margin-bottom: 32px;
  }

  .about{
    padding-top: 0
  }

  .portfolio ul li{
      min-height: 560px;
  }

  .portf-top, .about-top {
    margin-bottom: 30px;
  }

  .portf-content {
    padding: 24px 16px;
    top: auto;
  }

  .portf-content p {
    margin-bottom: 16px;
  }

  .about-top .left {
    margin-bottom: 24px;
  }

  .services h1 {
    margin: 24px;
    font-size: 37px;
  }

  .services h1 span {
    opacity: 0.4;
    font-size: 13px;
  }

  section.services {
    padding: 80px 0;
  }

  .d-flex {
    display: block;
  }

  .grid-box h2 {
    font-size: 24px;
  }

  body.opened{
    overflow: hidden;
  }

  section.services li .content h2 {
    font-size: 24px;
  }

  section.contacts {
    padding: 80px 0;
  }

  section.contacts .left {
    margin-bottom: 24px;
  }

  section.contacts .right {
    margin: 0 -16px;
  }

  .about-top .right {margin: 0 -16px;}

  .portfolio ul li {
    margin-left: -16px;
    margin-right: -16px;
  }

  ul.nav {
    display: flex;
    gap: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    bottom: 0;
    background: #000;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
  }

  ul.nav.opened li a {
    font-size: 30px;
    line-height: 44px;
    display: inline-flex;
  }

  a.logo {
    z-index: 100;
    position: relative;
  }
  section.why-we h1{
    font-size: 37px;
    line-height: 120%;
    letter-spacing: 0.1em;
    margin-bottom: 40px
  }
  .mob-nav.opened {
    z-index: 12;
  }

  .header-right {
    z-index: 12;
  }

  ul.nav.opened {
    opacity: 1;
    visibility: visible;
    gap: 30px;
  }

  section.services ul li > img {
    position: absolute;
    width: 100%;
  }

  section.services ul li {
    height: auto;
    min-width: auto;  
  }

  section.services ul li .content {
    position: relative;
  }

  section.services li .content button {
    margin-bottom: 24px;
  }

  .modal-top {
    display: block;
  }

  .modal-top .left {
    border: none;
    border-bottom: 1px solid #C89269;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .modal-top .right {
    padding: 0;
    border: none;
  }
  .btn{
    padding: 16px 20px;
  }
  .modal-header {
    font-size: 20px;
  }

  .modal-dialog {
    max-height: 95vh;
  }

  .modal-top .right p {
    margin: 0;
  }

  section.modal-content {
    padding: 16px;
  }

  .modal-dialog {
    padding: 24px 0 0;
  }

  .modal {
    padding: 16px;
  }

  .modal-top .right h4 {
    margin-top: 12px;
  }

}